<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HistoriAI (demo) API</title>
</head>
<body>
    <h1>Welcome to the HistoriAI (demo) API!</h1>
    
    <h2>Available endpoints:</h2>
    <ul>
        <li>
            <strong>/summarize</strong>: <br/>
            Receives an image file, runs OCR, and returns a summarization from the LLM.
        </li>
        <li>
            <strong>/analysis</strong>: <br/>
            Receives an image file and a question, runs OCR, and returns an answer from the LLM.
        </li>
    </ul>
</body>
</html>